/* 링크 관련 */
#new-link {
	text-decoration: none;
	color: #000000;
}

#new-link:hover {
	text-decoration: underline;
	color: #000000;
}

/* 사이드바 관련*/
#page-wrapper {
	padding-left: 250px;
}

#sidebar-wrapper {
	position: static;
	width: 130px;
	height: 100%;
	margin-left: -262px;
	background: #e5e5e5;
	overflow-x: hidden;
	overflow-y: auto;
}

.sidebar-nav {
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	text-indent: 1.5em;
	line-height: 2.8em;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #999;
}

.sidebar-nav li a:hover {
	color: black;
	background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav>.sidebar-brand {
	font-size: 1.3em;
	line-height: 3em;
}